<script src="/public/js/static_pages/home.js"></script>
<link rel="stylesheet" href="/public/css/static_pages/home.css">

<div id="home-page-header">
  <div id="home-filter-bar">
    <h1>Filter bar goes here</h1>
  </div>
</div>

<div id="home-opennow">
  <h3>OPEN BOTTLE NOW<br>
  HAPPY HOUR DEALS RIGHT NOW IN HK</h3>
  <div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 xs-12">
      <div class="thumbnail">
        <img src="http://hongkong.peninsula.com/en/~/media/Images/Hong-Kong/dining/the-bar/phk-the-bar-interior-1074b.ashx?mw=952">
        <span><p>Bar Name</p></span>
        <span><p>Location</p></span>
      </div>
    </div>
    <div class="col-lg-4 xs-12">
      <div class="thumbnail">
        <img src="http://hongkong.peninsula.com/en/~/media/Images/Hong-Kong/dining/the-bar/phk-the-bar-interior-1074b.ashx?mw=952">
        <span><p>Bar Name</p></span>
        <span><p>Location</p></span>
      </div>
    </div>
    <div class="col-lg-4 xs-12">
      <div class="thumbnail">
        <img src="http://hongkong.peninsula.com/en/~/media/Images/Hong-Kong/dining/the-bar/phk-the-bar-interior-1074b.ashx?mw=952">
        <span><p>Bar Name</p></span>
        <span><p>Location</p></span>
      </div>
    </div>

</div>







<div id="home-featured-posts">
    This should float on the right, one column
</div>


