<script src="/public/js/static_pages/home.js"></script>
<link rel="stylesheet" href="/public/css/static_pages/home.css">



<div id="home-page-header">
  <div id="home-filter-bar">
    <h1>Filter bar goes here</h1>
  </div>
</div>

<div id="home-opennow">
  <h3>OPEN BOTTLE NOW<br>
  HAPPY HOUR DEALS RIGHT NOW IN HK</h3>
  <div class="container-fluid">
  <div class="row">
    <% bars.forEach(function(elem){ %>
      <div class="col-lg-4 xs-12">
        <div class="thumbnail">
          <img src="<%= elem.image %>" alt="">
          <span><p><%= elem.name %></p></span>
          <span><p><%= elem.location %></p></span>
          <span><p><%= elem.deal %></p></span>
        </div>
      </div>
    <% }) %>
  </div>
</div>


<div id="home-featured-posts">
    This should float on the right, one column
</div>


