#bar-page-header {
  height: 150px;
  background-image: url("http://shafir.info/shafir_images/10Album/22Hong_Kong~10Volume_3~105Night~100Kowloon_1%5E1920x.jpg");
  background-size: 100%;
  background-position: cover;
}


#bar-filter-bar {
  margin-top:-20px;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

p {
  color: black;
  font-size: 24px;
}