#home-page-header {
  height: 200px;
  background-image: url("http://shafir.info/shafir_images/10Album/22Hong_Kong~10Volume_3~105Night~100Kowloon_1%5E1920x.jpg");
  background-size: 100%;
  background-position: center;
  margin-top: -20px;
}

#home-filter-bar {
  margin: 0 auto;
  width: 80%;
  margin-top: 90px;
}

#filter-button {
  color: black;
  font-weight: bold;
  margin-left: 10px;
}

body {
  background-color: #f9eac7;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: white;
}

h3 {
  color: black;
}

p {
  color: black;
  font-size: 24px;
}

img {
  object-fit: cover;
  width:600px;
  height:400px;
  padding:none;
}

div.container-fluid, div.bar-description-row  {
  margin-left:40px;
  padding: none;
  margin-bottom:20px;
}

div.bar-images-row {
/*  margin-left: 30px;*/
width: 80%;
}


div.bar-images-row>img {
  float:left;
  padding:none;

}

.col-lg-6 {
  padding-left:0px;

}

#bar-image-right {
  background: white;
}
