#navbar.navbar-default {
  background: black;
  color: white;
}

#signin-btn {
  margin-top:8px;
  margin-right:3px;
  color: black;
  font-weight: bold;
}

#signup-btn {
  margin-top:8px;
  margin-left:3px;
  font-weight: bold;
}

#signout-btn {
  margin-left: 6px;
  margin-top:8px;
  font-weight: bold;
}

.navbar-inverse .navbar-brand {
  color: #F0AD4E;
}

div.modal-body {
  margin-left: 30px;
}

h2 {
  font-size:18px;
}