<script src="/public/js/pages/bars.js"></script>
<link rel="stylesheet" href="/public/css/pages/bars.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"
         async defer></script>




  <div class="container">

    <div class="row">
      <div class="col-lg-12"><span><h2><%= bar.name %></h2></span></div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span><h3><%= bar.location %></h3></span></div>
    </div>

  <div class="container">
    <div class="row">
      <div id="first-image" class="col-lg-6">
        <img src="<%= bar.image %>" alt="">
      </div>
      <div id="flickr-image" class="col-lg-6"><span><h2>flickr</h2></span></div>
    </div>

    <div class="row">
      <div id="map" class="col-lg-6"><span><h2>map</h2></span></div>
      <div id="bar-description" class="col-lg-6">
        <span><h2>bar details</h2></span>
        <span><p><%= bar.deal %></p></span>
        <span><h3><%= bar.address %></h3></span>
      </div>
    </div>



  </div>


  </div>
  </div>
</div>